.Filters-item {
  width: 25%;
}

input[type='text'] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

input[type='checkbox'] {
  margin-right: 8px;
}

input {
  font: 1.2rem Calibri;
  outline: none;
}

::placeholder {
  color: #aaa;
}

@media (max-width: 768px) {
  .Filters-item {
    width: 70%;
    margin: 5px 0;
  }
}
