.App {
  font-family: Calibri, Helvetica, sans-serif !important;
  font-size: 1.2rem;
}

.App-header {
  background-color: #084625;
  color: white;
  padding: 5px;
  text-align: center;
}

h1,
h2,
h4 {
  text-transform: uppercase;
}

h2 {
  background-color: #eceee0;
  padding: 0px 3px;
}

h4 {
  background-color: #f9f9f9;
  padding: 0px 3px;
}

.Filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

@media (max-width: 768px) {
  .Filters {
    flex-flow: column wrap;
  }
}
